<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Indy Hackers Job Board</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <header class="header clearfix">
        <nav role="navigation">
          <ul class="nav nav-pills float-xs-right">
            <%= if logged_in?(@conn) do %>
              <li class="nav-item"><span class="nav-link"><%= current_user(@conn).email %></span></li>
              <li class="nav-item"><%= link "Logout", to: session_path(@conn, :delete), method: :delete, class: "nav-link" %></li>
            <% else %>
              <li class="nav-item"><%= link "Login", to: "/login", class: "nav-link" %></li>
            <% end %>
          </ul>
        </nav>
        <span class="logo"></span>
      </header>

      <%= show_flash(@conn) %>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
