<%= form_for @changeset, @action, fn f -> %>

  <%= render_shared "common_job_fields.html", f: f, changeset: @changeset %>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
