<div class="jumbotron">
  <h2>Job Posts</h2>
  <table class="table table-striped">
  <%= for job <- @jobs do %>
    <tr>
      <td><%= Phoenix.HTML.Link.link("#{job.title}", to: "/admin/jobs/#{job.id}") %></td>
      <td><%= Phoenix.HTML.Link.link("Edit", to: "/admin/jobs/#{job.id}/edit") %></td>
      <td><%= Phoenix.HTML.Link.link("Delete", to: "/admin/jobs/#{job.id}", method: :delete) %></td>
    </tr>
  <%= end %>
</div>
